@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {
  --sans-ff: 'Kumbh Sans', sans-serif;
  --black: #212121;
  --white: #fff;
  --bronze: #bb9865;

  --terracotta: #e2725b;
  --dk-terrcotta: #7d3a25;
  --midnight: #000220;

  --text-color: var(--midnight);
  --contact-bg-color: #bb986580;
  --contact-bg-color-hover: #bb9865cf;
  --shadow: #21212180;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--sans-ff);
  height: 100%;
}

#__next {
  height: 100%;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}